*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xls*
!Solver/aerodromes.xlsx
*.svg
**/packages/
x64/
.vs/
.DS_Store
.idea/
out/
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-release/
out/
*.kml
*.odt
screens/
build-Interface_Graphique-Qt_6_5_1_for_macOS-Debug/
build-Interface_Graphique-Qt_6_5_1_for_macOS-Release/