*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xls*
!Solver/aerodromes.xlsx
!*/resources/*
*.svg
**/packages/
x64/
.vs/
.DS_Store
.idea/
out/
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-release/
build-*
out/
*.kml
*.odt
*.user*
screens/
build*
